.posicion-control-navigation{
    background-color: rgba(248, 243, 244, 1);
    height: 148px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;

        & h1{
        @include catalogFont; 
        font-size: 24px;
        line-height: 29px;
        color: rgba(241, 109, 127, 1);
        }

        & a{
            @include catalogFont;  
            font-size: 14px;
            line-height: 17px;
            color: rgba(241, 109, 127, 1);
            text-decoration: none;

            &:not(:last-child){
                color: gray;
            }
        }
}